body {
    margin: 0;
    font-family: Poppins;
}

.container {
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

svg {
    width: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.icon-cart {
    position: relative;
}

.icon-cart span {
    position: absolute;
    background-color: #696cff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}

.title {
    font-size: xx-large;
}

.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 10px 10px rgba(47, 47, 47, 0.6));
    margin-bottom: 20px;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    background-color: #e6e6f2;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 2px;
    font-size: small;
}

.listProduct .item button {
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab {
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

.totalPriceContainer {
    padding: 20px;
    background-color: #e6e6f2;
    text-align: center;
    border-top: 1px solid #ccc;
}

.totalPriceContainer h2 {
    margin: 0;
    font-size: 18px;
    color: #353432;
}


body.showCart .cartTab {
    right: 0;
}

body.showCart .container {
    transform: translateX(-250px);
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
    color: white;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab button {
    background-color: #696cff;
    border: none;
    padding: 15px 20px;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .close {
    background-color: white;
    color: #696cff;
}

.cartTab .checkOut {
    color: white;
}

.listCart .item {
    display: flex;
    align-items: center;
    padding: 10px;
}

.listCart .item .image {
    flex-shrink: 0;
    width: 70px;
    margin-right: 50px;
}

.listCart .item .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.listCart .item .details .name {
    font-weight: bold;
    margin-bottom: 5px;
}

.listCart .item .details .price {
    color: #696cff;
    margin-bottom: 5px;
}

.listCart .item .details .quantity {
    display: flex;
    align-items: center;
}

.listCart .item .details .quantity span {
    margin: 0 5px;
}

.listCart .item img {
    width: 100%;
    margin-left: 20px;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

@media only screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}
